@import "tailwindcss";
.header-1{
  text-align: center;
  border: black 2px solid;
  background-color: #3809b9ee;
  color: white;
  border-radius: 10px;
  width: 90vw;
}
div {
  text-align: center;
  display:inline-block;
  margin: 0px 10px;
}
img {
  float: left;
  height: 40px;
  translate: 0px 15px;
}
ul {
  list-style-type: none;
  padding: 0;
  color: #0e0d0d;
  display: inline-block;
}
li {
  margin: 5px 0;
  color: aliceblue;
  border: #0b0b0b 1px solid;
  padding: 5px;
  background-color: #5ed0f0ee;
  border-radius: 10px;
  margin: 0 10px;
  display: inline-block;
}
a {
  color: #c6d5e8;
  text-decoration: none;
}
